#nprogress .bar,
#nprogress .spinner {
    z-index: 999999;
    }

#nprogress .bar{
  background: orange;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: #333;
  padding: 0px!important;
}

a {
  color: #fff;
}

a:focus{
  color: none;
}

.row {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0;
  clear: both;
}
.row img {
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

.gallery ul li {
  float: left;
  /*margin: 0 0.87719%;*/
  overflow: hidden;
}

nav {
  /*background-color: #84b4b1;
  color: #fff;
  text-align: center;
  padding: 30px 0 120px;*/
}
nav h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 65px;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 0.8;
  padding-top: 50px;
  font-family: "Montserrat", sans-serif;
}
nav h1 span {
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 25px;
  line-height: 1;
}
nav p {
  padding-top: 30px;
}

.gallery {
  padding: 40px 0 0 0px;
  position: relative;
  overflow: hidden;
  background-color: black;
}
.gallery ul {
  padding-top: 50px;
  position: relative;
}
.gallery ul li {
  width: 23.24561%;
  position: relative;
}
.gallery ul li a {
  display: block;
  position: relative;
  width: 100%;
  /*height: 100%;*/
  margin: 0;
  margin-top: -1px;
  padding: 0;
  line-height: 0;
}
.gallery ul li a:before {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 40%;
  left: 50%;
  margin: -14px 0 0 -16px;
  background: url(data:image/svg+xml;utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2017.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%0A%09%20id%3D%22svg2%22%20xmlns%3Adc%3D%22http%3A//purl.org/dc/elements/1.1/%22%20xmlns%3Acc%3D%22http%3A//creativecommons.org/ns%23%22%20xmlns%3Ardf%3D%22http%3A//www.w3.org/1999/02/22-rdf-syntax-ns%23%22%20xmlns%3Asvg%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Asodipodi%3D%22http%3A//sodipodi.sourceforge.net/DTD/sodipodi-0.dtd%22%20xmlns%3Ainkscape%3D%22http%3A//www.inkscape.org/namespaces/inkscape%22%20inkscape%3Aversion%3D%220.48.4%20r9939%22%20sodipodi%3Adocname%3D%22icon-fullscreen.svg%22%0A%09%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%20960%20560%22%0A%09%20enable-background%3D%22new%200%200%20960%20560%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Csodipodi%3Anamedview%20%20borderopacity%3D%221%22%20pagecolor%3D%22%23ffffff%22%20bordercolor%3D%22%23666666%22%20objecttolerance%3D%2210%22%20gridtolerance%3D%2210%22%20guidetolerance%3D%2210%22%20showgrid%3D%22false%22%20fit-margin-top%3D%220%22%20fit-margin-left%3D%220%22%20inkscape%3Azoom%3D%227.375%22%20inkscape%3Acx%3D%22-5.1525424%22%20inkscape%3Acy%3D%2216%22%20id%3D%22namedview11%22%20inkscape%3Awindow-x%3D%22-8%22%20inkscape%3Awindow-y%3D%22-8%22%20fit-margin-right%3D%220%22%20inkscape%3Apageopacity%3D%220%22%20fit-margin-bottom%3D%220%22%20inkscape%3Awindow-width%3D%221366%22%20inkscape%3Awindow-height%3D%22706%22%20inkscape%3Awindow-maximized%3D%221%22%20inkscape%3Apageshadow%3D%222%22%20inkscape%3Acurrent-layer%3D%22svg2%22%3E%0A%09%3C/sodipodi%3Anamedview%3E%0A%3Cg%3E%0A%09%3Crect%20x%3D%22220%22%20y%3D%22260%22%20fill%3D%22%23FFFFFF%22%20width%3D%22536%22%20height%3D%2224%22/%3E%0A%3C/g%3E%0A%3Cg%3E%0A%09%3Crect%20x%3D%22476%22%20y%3D%224%22%20fill%3D%22%23FFFFFF%22%20width%3D%2224%22%20height%3D%22556%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A) no-repeat;
  content: "";
  opacity: 0;
  z-index: 1;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.gallery ul li a:hover:before {
  top: 50%;
  opacity: 1;
}
.gallery ul li a:after {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  content: "";
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;

}
.gallery ul li a:hover {
  opacity: .2;
  -webkit-opacity: .2;
  -moz-opacity:.2;
  transition: all 0.3s linear;
  /*filter: grayscale(100%);*/
  /*background-color: black;*/
  
}

.port {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 100px;
  background: #ffffff;
  background-color: #fafafa;
  z-index: 103;
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  border-bottom: 1px solid #d0d0d0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.port img {
  width: 90%;
}
.port .description {
  float: left;
  width: 50%;
  max-height: 100%;
  padding: 0 40px 40px;
  overflow: auto;
}
.port h1 {
  font-size: 35px;
  line-height: 2.3;
  padding: 0;
  color: #FF8D00;
}
.port p {
  color: white;
}
.port > * {
  opacity: 0;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.port.item_open {
  visibility: visible;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: black;
}
.port > * {
  opacity: 1;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.close {
  background-size: 21px 21px;
  height: 21px;
  width: 21px;
  background-image: url("../imgs/white-close.png");
  background-repeat: no-repeat;
  position: absolute;
  right: 10px;
  top: -121px;
  opacity: 1;
  z-index: 1004;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .close {
    background-size: 40px 40px;
    height: 40px;
    width: 40px;
  }
}
.item_open .close {
  opacity: 1;
  top: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


.contact-button{
  color: #e48e0f!important;
}

.contact-button:hover{
  color: #ff9800!important;
}

.modal{
  z-index: 99999!important;
}

.modal-header{
  padding: 70px 0 0 0;
  border: none;
}

.modal-content{
  text-align: left;
}

.modal-footer{
  text-align: center!important;
}

.modal-footer button{
  background-color: #FF8D00;
  color: white;
  border-radius: 2px;
  width: 200px;
  height: 50px;
}

@media (min-width: 768px){
  .modal-dialog {
      background: #ff8900!important;

  }
  .privacy-modal{
    width: 90%;
  }
}

.gallery .modal {
  padding: 0!important;
  background: #000;
}

.modal-exit{
  position: absolute;
  right: 12px;
  font-size: 4em;
  background: none;
  border: none;
  top: 5px;
  transition: color 0.2s;
  -moz-transition: color 0.2s;
  -webkit-transition: color 0.2s;
}

.modal-exit:hover{
  color: #FF8D00;
  transition: color 0.2s;
  -moz-transition: color 0.2s;
  -webkit-transition: color 0.2s;
}

.modal-left{
  position: absolute;
  left: 0;
  font-size: 3.5em;
  background: none;
  border: none;
  top: 50%;
}

.modal-right{
  position: absolute;
  right: 0;
  font-size: 3.5em;
  background: none;
  border: none;
  top: 50%;
}

.gallery-modal{
    width: 100%;
    height: 100%;
    margin: 0;
  }

.gallery-modal .modal-content{
  text-align: center;
}

.gallery-modal .modal-content{
    height: 100%;
    border: none;
    border-radius: 0px;
    color: #636465;
    background: #000;
    box-shadow: none;
    overflow-y: auto;
  }

.gallery-modal .modal-footer{
  border: none;
  bottom: 0;
  width: 100%;
}

.send-btn{
  margin-top: 40px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.form-control:focus {   
  border-color: rgba(251, 141, 4, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgb(251, 141, 4);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgb(251, 141, 4);
  outline: 0 none;
}

footer {
  margin-bottom: 80px;
  padding: 10px;
}

footer hr{
  width: 30%;
  border-color: #292929;
}

footer ul {
  text-align: center;
  padding-top: 0px !important;
  padding: 0;
  margin: 0;
}

footer h1 {
  margin-bottom: 30px;
}

footer ul li {
  display: inline-block;
  color: #5A5B5D;
  width: inherit !important;
  position: initial !important;
  float: inherit !important;
  margin: 0 !important;
  overflow: inherit !important;
}

footer ul li a {
  color: #FF8D00;
  transition: color 0.2s linear;
 -webkit-transition: color 0.2s linear;
 -moz-transition: color 0.2s linear;
 display: inline !important;
}

footer ul li a:before {
  background: inherit !important;
}

footer ul li a:hover {
  color: #FF8D00;
 text-decoration: none;
}

footer ul li::before {
  color: #FF8D00;  
  /* color of bullet or square */
  content: "\2022"; 
  /* Unicode of character to precede the list item */
  font-size: 1em; 
  /* em or %*/ 
  padding-right: 5px; 
  /* use em*/
  position: relative;
  top: 0em; 
  /* use em or % */
}

footer ul li:first-child:before {
  content: none;
}

/*nav*/

.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-custom .navbar-toggle {
  background-color: #000;
  font-size: 22px;
  margin-top: 17px;
  padding: 15px;
  border: 1px solid #363738;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none;
}
.navbar-custom .navbar-brand {
  font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom a {
  font-size: 1.2em;
}

.font-gray{
  color: #7a7b7d;
  transition: color 0.3s;
}

.navbar-custom .nav li a:hover {
/*  color: rgba(255, 255, 255, 0.8);*/
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
    color: #ff9600;
}
.navbar-custom .nav li.active {
  outline: none;
}
.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, 0.3);
}
.navbar-custom .nav li.active a:hover {
  color: white;
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: #000;
    border-bottom: 1px solid #292929;
    box-shadow: 0px 20px 48px 20px #000;
  }
  .navbar-nav {
    float: left;
    margin: 24px 0 0 0;
  }
}

video{
  width: auto;
  max-width:500px;
  height:auto;
}

/*VIDEO BG FOR INDEX*/
header video{
    position: absolute; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    background-size: cover;
    overflow: hidden;
}

.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}
.no-video .video-container video,
.touch .video-container video {
  display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}
.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 95%;
  width: 100%;
  overflow: hidden;
  background: #000;
}
.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}
.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.3) url("../img/filter.png");
  width: 100%;
}
.video-container .title-container {
  z-index: 1000;
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
  color: #fff;
}
.video-container .description .inner {
  font-size: 1em;
  width: 45%;
  margin: 0 auto;
}
.video-container .link {
  position: absolute;
  bottom: 3em;
  width: 100%;
  text-align: center;
  z-index: 1001;
  font-size: 2em;
  color: #fff;
}
.video-container .link a {
  color: #fff;
}
.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}

.description-buttons{
  margin-top: 25px;
}

.description-buttons .btn-orange{
  border: 3px solid #e48d10;
  border-radius: 2px;
  width: 200px;
  height: 50px;
  padding-top: 10px;
  transition: color 0.5s, background-color 0.5s;
  -webkit-transition: color 0.5s, background-color 0.5s;
  -moz-transition: color 0.5s, background-color 0.5s;
}

.description-buttons .btn-orange:hover{
  color: #fff;
  background-color: #e48d10;
  border-color: #e48d10;
  transition: color 0.5s, background-color 0.5s;
  -webkit-transition: color 0.5s, background-color 0.5s;
  -moz-transition: color 0.5s, background-color 0.5s;
}

.description-buttons .btn-orange:focus{
  color: #fff;
  outline-offset: 0px;
}

.button-1{
  margin-bottom: 10px;
}

/* Header */

.jumbotron{
  height: 95vh;
      min-height: 300px;
      background: url('../img/bg-homepage.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
      background-size: cover;
      background-color: #000000;
}

.vertical-center{
  float: none;
    margin: 0 auto;
}

header{
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
}

header h1{
  font-size: 4em;
  font-weight: bold;
  margin: 0px;
}

.shadow{
  text-shadow: 4px 4px 8px black;
}

.left{
  text-align: center;
}

.left a{
  width: 200px;
}

mark{
  background-color: #000000;
  color: #ffffff;
}

.left mark{
  vertical-align: 21px;
}


/*Scroll me*/

.scroll-btn p {
  margin-left: -55px;
}
@-webkit-keyframes ani-mouse {
  0% {
  opacity: 1;
  top: 29%;
  }
  15% {
  opacity: 1;
  top: 50%;
  }
  50% {
  opacity: 0;
  top: 50%;
  }
  100% {
  opacity: 0;
  top: 29%;
  }
}
@-moz-keyframes ani-mouse {
  0% {
  opacity: 1;
  top: 29%;
  }
  15% {
  opacity: 1;
  top: 50%;
  }
  50% {
  opacity: 0;
  top: 50%;
  }
  100% {
  opacity: 0;
  top: 29%;
  }
}
@keyframes ani-mouse {
  0% {
  opacity: 1;
  top: 29%;
  }
  15% {
  opacity: 1;
  top: 50%;
  }
  50% {
  opacity: 0;
  top: 50%;
  }
  100% {
  opacity: 0;
  top: 29%;
  }
}
 .scroll-btn {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  text-align: center;
}
.scroll-btn > * {
  /*display: inline-block;*/
  line-height: 18px;
  font-size: 13px;
  font-weight: normal;
  color: #7f8c8d;
  color: #ffffff;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
  color: #ffffff;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.scroll-btn .mouse {
  position: relative;
  display: block;
  width: 35px;
  height: 55px;
  margin: 0 auto 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid white;
  border-radius: 23px;
}
.scroll-btn .mouse > * {
  position: absolute;
  display: block;
  top: 29%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 -4px;
  background: white;
  border-radius: 50%;
  -webkit-animation: ani-mouse 2.5s linear infinite;
  -moz-animation: ani-mouse 2.5s linear infinite;
  animation: ani-mouse 2.5s linear infinite;
}

.scroll-me{
  bottom: 0;
}

span.mouse{
  cursor: pointer;
}


/*Arrow down bouncy*/
@media screen and (max-width: 480px) {
    .scroll-btn{
      display: none;
    }

    .headline mark{
      font-size: 1.5em;
      line-height: 150%;
        }
    }

    .bounce {
      -webkit-animation-name: bounce;
      animation-name: bounce;
      -webkit-transform-origin: center bottom;
      -ms-transform-origin: center bottom;
      transform-origin: center bottom;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      }
      @-webkit-keyframes bounce {
      0%, 20%, 53%, 80%, 100% {
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
      }
      40%, 43% {
      -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      -webkit-transform: translate3d(0, -15px, 0);
      transform: translate3d(0, -30px, 0);
      }
      70% {
      -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      -webkit-transform: translate3d(0, -15px, 0);
      transform: translate3d(0, -15px, 0);
      }
      90% {
      -webkit-transform: translate3d(0,-4px,0);
      transform: translate3d(0,-4px,0);
      }
      }
      
      @keyframes bounce {
      0%, 20%, 53%, 80%, 100% {
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
      }
      40%, 43% {
      -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      -webkit-transform: translate3d(0, -15px, 0);
      transform: translate3d(0, -30px, 0);
      }
      70% {
      -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      -webkit-transform: translate3d(0, -15px, 0);
      transform: translate3d(0, -15px, 0);
      }
      90% { -webkit-transform: translate3d(0,-4px,0); transform: translate3d(0,-4px,0);
      }
  } 

.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: -150px;
  padding: 7px 16px;
  font-size: 60px;
  color: white;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
  outline: none;
  color: white;
}
.btn-circle i.animated {
  /*
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
  */
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -webkit-animation-duration: 2.5s;
  -moz-animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
.btn-circle:hover i.animated {
  /*
  */
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.btn-down a:hover{
  color: orange;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.btn-down a{
  color: #fff;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}




/*MESSAGE SENT*/
.center-msg{
  text-align: center;
  margin-top: 100px;
}

.h1-msg{
  font-size: 4em;
  font-weight: bold;
  color: #f7941f;
}

.p-msg{
  color: #636465;
}

.logo-msg{
  width: 400px;
}

.a-msg{
  color: #f7941f;
}

/*GALLERY-david*/

.div-gallery{
  padding: 0!important;
  cursor: pointer;
}

.hvrbox,
.hvrbox * {
      box-sizing: border-box;
}
.hvrbox {
      position: relative;
      display: inline-block;
      overflow: hidden;
      max-width: 100%;
      height: auto;
}

.hvrbox hr{
    border-color: #989898;
    width: 50%;
}

.hvrbox img {
      max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
      display: block;
}
.hvrbox .hvrbox-layer_top {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      color: #fff;
      padding: 15px;
      -moz-transition: all 0.4s ease-in-out 0s;
      -webkit-transition: all 0.4s ease-in-out 0s;
      -ms-transition: all 0.4s ease-in-out 0s;
      transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
      opacity: 1;
}
.hvrbox .hvrbox-text {
      color: #989898;
      text-align: center;
      font-size: 18px;
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      -moz-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
      font-size: 15px;
      border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
      border-top: 1px solid rgba(179, 179, 179, 0.7);
      margin-top: 5px;
      padding-top: 2px;
      display: none;
}
.hvrbox.active .hvrbox-text_mobile {
      display: block;
}


/*Mobile Responsive*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .navbar-collapse{
    background: #000;
    margin-top: 12px;
    text-align: center;
  }

  .navbar-header{
    color: white;
    transition: color 0.2s;
  }
}

.opn-menu{
  background: #191919;
  border-color: #FF8D00!important;
  color: #FF8D00!important;
  transition: border-color 0.2s, color 0.2s;
}



/*Scroll bar*/

body::-webkit-scrollbar {
    width: .3em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #f7941f;
  outline: 1px solid #ba7209;
}


.modal-content::-webkit-scrollbar {
    width: .3em;
}
 
.modal-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.modal-content::-webkit-scrollbar-thumb {
  background-color: #f7941f;
  outline: 1px solid #ba7209;
}